# Environnements & IDE
.venv/
.vscode/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Excel : fichiers temporaires & rapport généré
~$*.xlsx
requirements_report.xlsx

# Archives
*.zip
